*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
nav img{
    width: 200px;
    height: 50px;
    margin-left: 80px;
}
.btn-links{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
}
.btn-lang{
    background: none;
    width: 70px;
    height: 40px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;

}
.btn-sign{
    background-color: #e50914;
    border: none;
    color: white;
    width: 70px;
    height: 40px;
    border-radius: 5px;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-image: url(./images/main.jpg);
    /* background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
} */
}
.container{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/main.jpg); */
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-top: 150px;
}
.container h2{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}
.container p{
    color: white;
    font-size: 20px;
}
form{
    width: 60%;
    /* height: 50px; */
    margin-top: 15px;
    display: flex;
    /* background-color: #e50914; */
    align-items: center;
    text-align: center;
    justify-content: center;
}
form input{
    width: 60%;
    height: 70px;
    padding-left: 20px; 
}
form .get-start{
    width: 30%;
    height: 70px;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: bold;
    font-size: 20px;
}
.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-top: 10px solid rgb(71, 71, 71);
    color: white;
}
.section h1{
    font-size: 45px;
}
.section p{
    font-size: 25px;
}
.faq{
    height: 150vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    border-top: 10px solid rgb(71,71,71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-size: 25px; */
}
.faqs{
    width: 70%;
    height: 60%;
    /* background-color: #e50914; */
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}
.questions{
    width: 100%;
    height: 90px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    /* padding-left: 20px;
    padding-right: 20px; */
} 
.questions i{
    font-size: 40px;
    margin-right: 20px;
}
.questions h1{
    font-weight: 400;
    margin-left: 20px;
}
.email{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-items: center; */
    background-color: black;
    color: white;
    border-top: 10px solid rgb(71, 71, 71);
}
.footer-links{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 10%;
}
.footer-links ul{
    list-style: none;
}
.footer-links a{
    text-decoration: none;
    color: #8a8282;
}
footer h3{
    margin-top: 60px;
    padding-left: 10%;
}
footer .btn-lang{
    margin-top: 30px;
    margin-left: 10%;
}
.footer-link{
    text-decoration: none;
    margin-top: 30px;
    margin-left: 10%;
    color: #757575;;
}
.btn-eng{
    background: none;
    width: 120px;
    height: 50px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 20px;
}